.faq-content{
    width: 50%;
    margin: 0;
    background-color: white;
    display: inline-block;
    line-height: 2;
}
.accordion-container {
    position: absolute;
    max-width: 40%;
    right: 3%;
    padding: 20px;
}
/*stack at large tablet and smaller*/
@media screen and (max-width: 1199px){
    .faq-content {
        width: 100%;
    }
    .accordion-container {
        position: relative;
        max-width: 80%;
        margin: 10px auto;
        padding: 20px;
    }
}
.accordion-container h3 {
    margin-bottom: 40px;
}
p {
    padding: 20px 0;
} 
.answer-content {
    font-size: 14px;
    color: #666666;
    display: none;
}
.question-btn {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    background-color: white;
    width: 100%;
    border: none;
    border-top: solid #f0f0f0 2px;
    line-height: 2;
    padding: 15px 0px 15px;
    outline: none;
    cursor: pointer;
}
.active {
    display: block;
}
i {
    float: right;
}
